.banner {
    @include container;
    height: auto;

    .banner__carousel-content {
        position: relative;
        width: 100%;
        height: 100%;

        .owl-stage-outer {
            height: 100%;
        }

        .item {
            @include flex;
        }

        .banner__image {
            object-fit: cover;
            width: 100%;
            height: 100%;
            max-height: 80vh;

            @media (max-width: $break-point-mobile-landscape) {
                height: 60vh;
            }
        }
        
        .banner__overlay {
            @include wrapper;
            z-index: 10;
            position: absolute;
            left: initial;
            top: 0;
            bottom: 0;

            @include flex($flexDirection: column, $alignItems: flex-start);

            .banner__title {
                @include fontMontserrat($weight: 600);
                font-size: 3.75rem;
                line-height: 4.5rem;
                text-transform: uppercase;
                color: var(--black-primary);
                margin-bottom: 1.875rem;
                max-width: 400px;
            }

            .banner__paragraph {
                @include fontMontserrat;
                font-size: 1.375rem;
                line-height: 2.25rem;
                color: var(--black-third);
            }

            .banner__link {
                @include buttonDefault;
                margin-top: 5.95rem;
            }
        }
    }
}