<article class="banner">
            
    <section class="banner__carousel-content owl-carousel owl-theme">

        {%- if section.blocks.size <= 0 -%}

            <div class="item">

                <img class="banner__image" src="{{ 'banner.jpg' | asset_img_url: 'master' }}" title="Summer Collection" alt="Summer Collection">

                <div class="banner__overlay">

                    <h2 class="banner__title">Summer Collection</h2>
                    
                    <p class="banner__paragraph">Separamos os melhores looks para você neste 2019</p>

                    <a class="banner__link" href="#" type="button" title="SHOP NOW">
                        Shop Now
                    </a>

                </div>

            </div>

        {%- else -%}
        
            {%- for block in section.blocks -%}

                <div class="item">

                    <img class="banner__image" src="{{ block.settings.banner__image | img_url: 'master' }}" title="Summer Collection" alt="Summer Collection">

                    <div class="banner__overlay">

                        {% if block.settings.banner__title == empty %}
                            <h2 class="banner__title"></h2>
                        {% else %}
                            <h2 class="banner__title">{{ block.settings.banner__title }}</h2>
                        {% endif %}
                        
                        {% if block.settings.banner__paragraph == empty %}
                            <p class="banner__paragraph"></p>
                        {% else %}
                            <p class="banner__paragraph">{{ block.settings.banner__paragraph }}</p>
                        {% endif %}

                        <a class="banner__link" href="{{ block.settings.banner__link }}" type="button" title="SHOP NOW">
                            Shop Now
                        </a>

                    </div>

                </div>

            {%- endfor -%}

        {%- endif -%}

    </section>

</article>

{% schema %}

{
    "name": "Banner Images",
    "max_blocks": 4,
    "settings": [],
    "blocks": [
        {
            "type": "image",
            "name": "Banner Images",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "banner__image",
                    "label": "Imagem"
                },               
                {
                    "type": "text",
                    "id": "banner__title",
                    "label": "Título do banner"
                },               
                {
                    "type": "text",
                    "id": "banner__paragraph",
                    "label": "Descrição do banner"
                },               
                {
                    "type": "url",
                    "id": "banner__link",
                    "label": "Url"
                }                
            ]
        }
    ],
    "presets": [
        {
            "name": "Banner Images",
            "category": "Image",
            "blocks": [
                { "type": "image" },
                { "type": "image" },
                { "type": "image" }
            ]
        }
    ]
}

{% endschema %}