

<section id="{{ section.id }}" class="cart-drawer" data-js="cart-drawer" data-cart-open="false">

    <div class="container">

        <div class="cart-drawer__header">
            <h6>Carrinho</h6>
            <button data-js="open-cart">
                <svg class="Icon Icon--close" role="presentation" viewBox="0 0 16 14">
                    <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="#333333" fill-rule="evenodd"></path>
                </svg>
            </button>
        </div>

        <div class="cart-drawer__content">
            <ul class="cart-drawer__list">
                {% for item in cart.items %}
                    <li class="cart-drawer__item" data-product="{{ item.id }}">
                        <div>
                            <figure>
                                <img src="{{ item.image | img_url: '150x150' }}" alt="{{ item.image.alt }}" title="{{ item.title }}">
                            </figure>
                            <div class="cart-drawer__item-info">
                                <div>
                                    <h4>{{ item.title }}</h4>
                                </div>                      
                                <span>{{ item.price | money }}</span>
                                <div class="cart-drawer-quantity">
                                    <div class="cart-drawer-quantity-selector">
                                        <button type="button" data-less-1="{{ forloop.index }}">
                                            <i class='bx bx-minus'></i>
                                        </button>
                                        <input type="number" name="quantity" value="{{ item.quantity }}" min="1" maxlength="2" pattern="[0-9]*" class="main__current-quantity" data-quantity-input="{{ forloop.index }}" data-modify-quantity-item="{{ item.id }}">
                                        <button type="button" data-more-1="{{forloop.index }}">
                                            <i class='bx bx-plus'></i>
                                        </button>
                                    </div>
                                    <a data-remove-item="{{ item.id }}">Remover</a>
                                </div>
                            </div>
                            <div class="cart-bg-remove"></div>
                        </div>
                    </li>
                {% else %}
                    <li class="cart-drawer__item">
                        Sem items no carrinho.
                    </li>
                {% endfor %}
            </ul>
        </div>  

        <div class="cart-drawer__footer">
            <button>
                {% if cart.total_price == 0 %}
                    Finalizar pedido
                {% else %}
                    Finalizar pedido ● {{ cart.total_price | money }}
                {% endif %}
            </button>
        </div>

    </div>

</section>

<div id="overlay" class="cart-drawer__overlay" data-js="open-cart" data-cart-open="false"></div>

{% schema %}
  {
    "name": "Cart Drawer",
    "settings": [
        {
          "type": "header",
          "content": "Telefone"
        },
        {
          "type": "text",
          "id": "cart_drawer__contact",
          "label": "Altere o telefone",
          "default": "11 4191 4399"
        },
        {
		    	"type": "header",
			    "content": "Logo"
		    },
        {
            "type": "text",
            "id": "cart_drawer__logo",
            "label": "Altere o texto do logo",
            "default": "Aviato"
        },
        {
          "type": "header",
          "content": "Menu Principal"
		    },
        {
            "type": "link_list",
            "id": "cart_drawer__menu",
            "label": "Altere os links"
        }
	  ]
  }
{% endschema %}