<footer class="footer">

  <article class="footer__wrapper">

      <section class="footer__menu">

          <ul class="footer__list-menu">

              {% assign linksContato = linklists[section.settings.footer__menu_contato].links  %}
              {% for link in linksContato %}
                  
                  <li class="footer__item">
                      <a class="footer__link" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                  </li>
                  
              {% endfor %}

          </ul>
          
          <ul class="footer__list-menu">
              
              {% assign linksSobre = linklists[section.settings.footer__menu_sobre].links  %}
              {% for link in linksSobre %}
                  
                  <li class="footer__item">
                      <a class="footer__link" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                  </li>
                  
              {% endfor %}

          </ul>

          <section class="footer__news">

              <h4>Cadastre-se e receba nossas novidades</h4>

              <input type="text" name="cadastrar" placeholder="Cadastrar">

          </section>

      </section>

      <section class="footer__copyright">

          <p class="footer-copyright-year">Copyright &copy; 2019</p>

          <ul class="footer__list-menu">
              <li class="footer__item">
                  <a class="footer__link" href="#" title="Faq">Faq</a>
              </li>
              <li class="footer__item">
                  <a class="footer__link" href="#" title="Minha Conta">Minha Conta</a>
              </li>
              <li class="footer__item">
                  <a class="footer__link" href="#" title="Meus Pedidos">Meus Pedidos</a>
              </li>
          </ul>

          <ul class="footer__list-social-media">
              
              <!-- {% if section.blocks[0].settings.link__twitter != empty %}
                {{ section.blocks[0].settings.link__twitter }}
              {% else %}
                Campo vazio
              {% endif %} -->
              
              {% if section.blocks[0].settings.link__facebook != empty %}
                <li class="footer__item">
                  <a class="footer__link" href="{{ section.blocks[0].settings.link__facebook }}" rel="noopener noreferrer" title="Acessar o Facebook da Aviato">
                      <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
              {% endif %}

              {% if section.blocks[0].settings.link__twitter != empty %}
                <li class="footer__item">
                    <a class="footer__link" href="{{ section.blocks[0].settings.link__twitter }}" rel="noopener noreferrer" title="Acessar o Twitter da Aviato">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
              {% endif %}
              
              {% if section.blocks[0].settings.link__instagram != empty %}
                <li class="footer__item">
                  <a class="footer__link" href="{{ section.blocks[0].settings.link__instagram }}" rel="noopener noreferrer" title="Acessar o Instagram da Aviato">
                      <i class="fab fa-instagram"></i>
                  </a>
                </li>
              {% endif %}

              {% if section.blocks[0].settings.link__tumblr != empty %}
                <li class="footer__item">
                  <a class="footer__link" href="{{ section.blocks[0].settings.link__tumblr }}" rel="noopener noreferrer" title="Acessar o Tumblr da Aviato">
                      <i class="fab fa-tumblr"></i>
                  </a>
                </li>
              {% endif %}
              
              {% if section.blocks[0].settings.link__pinterest != empty %}
                <li class="footer__item">
                  <a class="footer__link" href="{{ section.blocks[0].settings.link__pinterest }}" rel="noopener noreferrer" title="Acessar o Pinterest da Aviato">
                      <i class="fab fa-pinterest"></i>
                  </a>
                </li>
              {% endif %}
              
          </ul>

      </section>
      
  </article>

</footer>

{% schema %}
  {
    "name": "Footer",
    "max_blocks": 4,
    "settings": [
        {
			"type": "header",
			"content": "Menu"
		},
        {
            "type": "link_list",
            "id": "footer__menu_contato",
            "label": "Bloco Contato"
        },
        {
            "type": "link_list",
            "id": "footer__menu_sobre",
            "label": "Bloco Sobre"
        }
	],
    "blocks": [
        {
            "type": "text",
            "name": "Redes Sociais",
            "settings": [
                {
                    "type": "text",
                    "id": "link__facebook",
                    "label": "Facebook",
                    "info": "https://link.com.br"
                },               
                {
                    "type": "text",
                    "id": "link__twitter",
                    "label": "Twitter",
                    "info": "https://link.com.br"
                },               
                {
                    "type": "text",
                    "id": "link__instagram",
                    "label": "Instagram",
                    "info": "https://link.com.br"
                },               
                {
                    "type": "text",
                    "id": "link__tumblr",
                    "label": "Tumblr",
                    "info": "https://link.com.br"
                },                          
                {
                    "type": "text",
                    "id": "link__pinterest",
                    "label": "Pinterest",
                    "info": "https://link.com.br"
                }                
            ]
        }
    ],
    "presets": [
        {
            "name": "Redes sociais",
            "category": "Text",
            "blocks": [
                { "type": "text" }
            ]
        }
    ]
}
{% endschema %}