{% include 'search-drawer' %}
  
<header class="header">

  <section class="header__more-information">

    <button class="header__icon-toggle" data-icon title="Abrir menu">
        <span></span>
        <span></span>
        <span></span>
    </button>

  </section>

  <nav class="header__wrapper">

    <section class="header__contact">
        <h4>
            <i class="fas fa-phone-alt"></i>
            {% if section.settings.header__contact != empty %}
                {{ section.settings.header__contact }}
            {% else %}                    
                11 4191 4399
            {% endif %}
        </h4>
    </section>

    <section class="header__logo">
        <a href="#" class="header__link" title="Aviato" translate="no">
            {% if section.settings.header__logo != empty %}
                <h1>{{ section.settings.header__logo }}</h1>
            {% else %}                    
                <h1>Aviato</h1>
            {% endif %}
        </a>
    </section>

    <section class="header__store-cart">
      <h4>
          <a href="/favoritos">
              <i class="fas fa-heart main-product-icon"></i>
          </a>
          <a data-js="open-cart">
              <i class="fas fa-shopping-bag"></i>
          </a>
          (<span data-cart-count-bubble data-cart-count class="header__store-cart-quantity">{%- if cart.item_count > 0 or cart.item_count != empty -%}{{ cart.item_count }}{%- else -%}0{%- endif -%}</span>) - 
          <span class="header__store-cart-price">R$ 0.00</span>
      </h4>
    </section>

    <ul class="header__list">

        {% assign links = linklists[section.settings.header__menu].links  %}
        {% assign lenght = links.size | minus: 2 %}
        
        <li class="header__item">
            <a class="header__link bold" href="{{ links[0].url }}" title="{{ links[0].title }}">{{ links[0].title }}</a>
        </li>
        
        {% for link in links offset: 1 limit: lenght %}
            
            <li class="header__item">
                <a class="header__link" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
            </li>
            
        {% endfor %}

        <li class="header__item">
            <a class="header__link active" href="{{ links.last.url }}" title="{{ links.last.title }}">{{ links.last.title }}</a>
        </li>

    </ul>


    <section class="header__overlay" data-overlay>
        
        <ul class="header__menu-mobile" data-menu-mobile>

            <button class="header__icon-close" data-icon-close aria-label="Fechar menu">
                <svg class="Icon Icon--close" role="presentation" viewBox="0 0 16 14">
                    <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="333333" fill-rule="evenodd"></path>
                </svg>
            </button>

            <li class="header__item">
                <a class="header__link bold" href="{{ links[0].url }}" title="{{ links[0].title }}">{{ links[0].title }}</a>
            </li>
            
            {% for link in links offset: 1 limit: lenght %}
                
                <li class="header__item">
                    <a class="header__link" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                </li>
                
            {% endfor %}

            <li class="header__item">
                <a class="header__link active" href="{{ links.last.url }}" title="{{ links.last.title }}">{{ links.last.title }}</a>
            </li>

            <ul class="header__list-social-media">
                <li class="header__item">
                    <a class="header__link" href="#" rel="noopener noreferrer" title="Acessar o Facebook da Aviato">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="#" rel="noopener noreferrer" title="Acessar o Twitter da Aviato">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="#" rel="noopener noreferrer" title="Acessar o Instagram da Aviato">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="#" rel="noopener noreferrer" title="Acessar o Tumblr da Aviato">
                        <i class="fab fa-tumblr"></i>
                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="#" rel="noopener noreferrer" title="Acessar o Pinterest da Aviato">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </li>
            </ul>

        </ul>

    </section>

  </nav>

</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
        {
          "type": "header",
          "content": "Telefone"
        },
        {
          "type": "text",
          "id": "header__contact",
          "label": "Altere o telefone",
          "default": "11 4191 4399"
        },
        {
		    	"type": "header",
			    "content": "Logo"
		    },
        {
            "type": "text",
            "id": "header__logo",
            "label": "Altere o texto do logo",
            "default": "Aviato"
        },
        {
          "type": "header",
          "content": "Menu Principal"
		    },
        {
            "type": "link_list",
            "id": "header__menu",
            "label": "Altere os links"
        }
	  ]
  }
{% endschema %}