<section class="main__product-list">

    <h3 class="main__product-list-title">Populares</h3>

    <section class="main__product-list-grid" data-list-products>
        
        {% for roupa in collections.roupas.products %}
            
            <article class="main__product main__show-me" data-product="{{ roupa.title }}">
                <a href="{{ roupa.url }}" title="Visualizar produto">
    
                    <!-- {{ roupa.images[0] | img_url: 'medium' }} -->
                    <img class="main__product-image" loading="lazy" src="{{ roupa.images[0].src | img_url: 'medium' }}" alt="{{ roupa.title }}" title="{{ roupa.title }}">
                </a>
                <h4 class="main__product-name">{{ roupa.title }}</h4>
                <p class="main-product-price">{{ roupa.price | money }}</p>
                <i class="fas fa-heart main-product-icon" onclick="bag(event)"></i>
                <i class="far fa-heart main-product-icon" onclick="bag(event)"></i>
            </article>

        {% endfor %}

    </section>

    <div class="main__product-list-link">

        <a href="/collections/all" type="button" title="VER MAIS PRODUTOS">
            Ver mais produtos
        </a>

    </div> 

</section> 

{% schema %}
{
    "name": "Lista de produtos",
    "settings": [
        {
            "type": "header",
            "content": "Coloca em tela todos os produtos da loja"
        }
    ],
    "presets": [
        {
            "name": "Lista de produtos",
            "category": "Coleção"
        }
    ]
}
{% endschema %}