<section class="main__tendencies">

    <h3 class="main__tendencies-title">Tendências</h3>

    <section class="main__tendencies-content">

        <article class="main__tendencies-categories men-dresses main__show-me" style="background-image: url({{ section.blocks[0].settings.main__tendencies_1 | img_url: 'master' }})">
            <div class="wrapper">
                <h4 class="main__tendencies-category">Men Dresses</h4>
                <a class="main__tendencies-link" href="/pages/categoria.html" title="Ver produtos">Ver produtos ></a>
            </div>
        </article>

        <article class="main__tendencies-categories women-dresses main__show-me" style="background-image: url({{ section.blocks[0].settings.main__tendencies_2 | img_url: 'master' }})">
            <div class="wrapper">
                <h4 class="main__tendencies-category">Women Dresses</h4>
                <a class="main__tendencies-link" href="/pages/categoria.html" title="Ver produtos">Ver produtos ></a>
            </div>
        </article>

        <article class="main__tendencies-categories jewellery main__show-me" style="background-image: url({{ section.blocks[0].settings.main__tendencies_3 | img_url: 'master' }})">
            <div class="wrapper">
                <h4 class="main__tendencies-category">Jewellery</h4>
                <a class="main__tendencies-link" href="/pages/categoria.html" title="Ver produtos">Ver produtos ></a>
            </div>
        </article>

    </section>

</section>

{% schema %}
  {
    "name": "Vitrine de Produtos",
    "max_blocks": 1,
    "settings": [],
    "blocks": [
        {
            "type": "image",
            "name": "Vitrine de Produtos",
            "settings": [
                {
                    "type": "header",
                    "content": "Tendências"
                },
                {
                    "type": "image_picker",
                    "id": "main__tendencies_1",
                    "label": "Tendência 1"
                },
                {
                    "type": "image_picker",
                    "id": "main__tendencies_2",
                    "label": "Tendência 2"
                },
                {
                    "type": "image_picker",
                    "id": "main__tendencies_3",
                    "label": "Tendência 3"
                }              
            ]
        }
    ],
    "presets": [
        {
            "name": "Vitrine de Produtos",
            "category": "Coleção",
            "blocks": [
                { "type": "image" }
            ]
        }
    ]
}
{% endschema %}