* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px;
  line-height: 1.4rem; }
  @media (max-width: 1800px) {
    html {
      font-size: 16px;
      line-height: 1.4rem; } }
  @media (max-width: 1170px) {
    html {
      font-size: 14px;
      line-height: 1.2rem; } }
  @media (max-width: 850px) {
    html {
      font-size: 13px;
      line-height: 1rem; } }

html[data-theme='light'] {
  --white-primary: #ffffff;
  --white-secondary: #FAFAFA;
  --white-third: #E7E7E7;
  --white-fourth: #EFEFEF;
  --black-primary: #333333;
  --black-secondary: #000000;
  --black-third: #777777;
  --black-fourth: #999999;
  --red-primary: #F90000;
  --shadow-black: #33333333; }

html[data-theme='dark'] {
  --white-primary: #ffffff;
  --white-secondary: #FAFAFA;
  --white-third: #E7E7E7;
  --white-fourth: #EFEFEF;
  --black-primary: #333333;
  --black-secondary: #000000;
  --black-third: #777777;
  --black-fourth: #999999;
  --red-primary: #F90000;
  --shadow-black: #33333333; }

a {
  display: inline-block;
  text-decoration: none;
  color: inherit; }

input, select, textarea, button {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
  background-color: transparent; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

body {
  background-color: var(--white-primary);
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased; }

body[data-noscroll=""] {
  overflow-y: hidden; }

.cart-drawer {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background-color: #ffffff;
  z-index: 10000;
  transition: transform 0.5s ease-out, visibility 0.5s ease-out; }
  .cart-drawer[data-cart-open="false"] {
    box-shadow: none;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%); }
  .cart-drawer[data-cart-open="true"] {
    box-shadow: 0 2px 7px 1px var(--shadow-black);
    visibility: visible;
    pointer-events: all;
    transform: translateX(0); }
  .cart-drawer__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem; }
    .cart-drawer__header h6 {
      font-size: 1.5rem;
      font-family: Montserrat, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: #323232;
      text-transform: uppercase;
      margin-bottom: 0;
      -webkit-transition: color .2s ease-in-out;
      transition: color .2s ease-in-out; }
    .cart-drawer__header button {
      width: 18px; }
  .cart-drawer__content {
    width: 100%;
    overflow-y: scroll;
    height: calc(100vh - (92px + 121px)); }
    .cart-drawer__content .cart-drawer__item {
      overflow: hidden;
      max-height: 180px;
      padding: 0 2rem;
      margin: 2rem 0; }
      .cart-drawer__content .cart-drawer__item.remove-item {
        transition: height .5s ease-out, max-height .5s ease-out, margin 5s ease-out;
        transition-delay: 0, 0, 0;
        transition-property: height, max-height, margin;
        margin: 0;
        max-height: 0; }
      .cart-drawer__content .cart-drawer__item > div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start; }
        .cart-drawer__content .cart-drawer__item > div figure {
          flex: 0 0 90px;
          margin-right: 1.2rem; }
          .cart-drawer__content .cart-drawer__item > div figure img {
            width: 100%;
            height: 100%; }
        .cart-drawer__content .cart-drawer__item > div .cart-drawer__item-info {
          width: 100%; }
          .cart-drawer__content .cart-drawer__item > div .cart-drawer__item-info h4 {
            font-size: 0.875rem;
            font-family: Montserrat, sans-serif;
            font-weight: bold;
            color: #323232;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: initial;
            margin-bottom: 0.5rem; }
          .cart-drawer__content .cart-drawer__item > div .cart-drawer__item-info span {
            font-size: 0.875rem;
            font-family: Montserrat, sans-serif;
            font-weight: 400;
            color: #323232; }
          .cart-drawer__content .cart-drawer__item > div .cart-drawer__item-info .cart-drawer-quantity {
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            .cart-drawer__content .cart-drawer__item > div .cart-drawer__item-info .cart-drawer-quantity .cart-drawer-quantity-selector {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-grow: 1;
              max-width: 90px;
              height: 2.70rem;
              border: 1px solid var(--shadow-black);
              margin-right: 0.6rem; }
              .cart-drawer__content .cart-drawer__item > div .cart-drawer__item-info .cart-drawer-quantity .cart-drawer-quantity-selector button {
                width: 25px;
                height: 2.70rem;
                cursor: pointer;
                line-height: 0; }
                .cart-drawer__content .cart-drawer__item > div .cart-drawer__item-info .cart-drawer-quantity .cart-drawer-quantity-selector button i {
                  pointer-events: none; }
              .cart-drawer__content .cart-drawer__item > div .cart-drawer__item-info .cart-drawer-quantity .cart-drawer-quantity-selector .main__current-quantity {
                font-size: 1rem;
                font-weight: 600;
                line-height: 3.75rem;
                color: var(--black-primary);
                text-align: center;
                display: inline-block;
                width: 100%;
                height: 100%;
                max-width: 35px;
                padding: 0; }
                .cart-drawer__content .cart-drawer__item > div .cart-drawer__item-info .cart-drawer-quantity .cart-drawer-quantity-selector .main__current-quantity::-webkit-outer-spin-button, .cart-drawer__content .cart-drawer__item > div .cart-drawer__item-info .cart-drawer-quantity .cart-drawer-quantity-selector .main__current-quantity::-webkit-inner-spin-button {
                  /* display: none; <- Crashes Chrome on hover */
                  -webkit-appearance: none;
                  margin: 0;
                  /* <-- Apparently some margin are still there even though it's hidden */ }
                .cart-drawer__content .cart-drawer__item > div .cart-drawer__item-info .cart-drawer-quantity .cart-drawer-quantity-selector .main__current-quantity[type=number] {
                  -moz-appearance: textfield; }
            .cart-drawer__content .cart-drawer__item > div .cart-drawer__item-info .cart-drawer-quantity a {
              font-size: 0.765rem;
              font-family: Montserrat, sans-serif;
              font-weight: 400;
              color: #323232;
              text-transform: uppercase;
              text-decoration: underline;
              cursor: pointer; }
        .cart-drawer__content .cart-drawer__item > div .cart-bg-remove {
          transition: height .5s ease-out;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0px;
          background-color: var(--white-primary); }
      .cart-drawer__content .cart-drawer__item.remove-item .cart-bg-remove {
        height: 100%;
        z-index: 5; }
  .cart-drawer__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--shadow-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem; }
    .cart-drawer__footer button {
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      font-size: .875rem;
      line-height: 1.5rem;
      color: var(--white-primary);
      text-transform: uppercase;
      text-align: center;
      background-color: var(--black-primary);
      width: 100%;
      padding: 1rem 1rem;
      box-shadow: inset 0 0 0 5px var(--black-primary), inset 0 0 0 6px var(--white-primary);
      transition: box-shadow .3s linear; }
      .cart-drawer__footer button:hover {
        box-shadow: inset 0 0 0 1px var(--white-primary); }

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.5s ease-out; }
  .cart-drawer__overlay[data-cart-open="false"] {
    visibility: hidden;
    opacity: 0;
    z-index: -1; }
  .cart-drawer__overlay[data-cart-open="true"] {
    visibility: visible;
    opacity: 1;
    z-index: 8000; }

.header {
  width: 100%;
  max-width: 100%; }
  .header .header__more-information {
    display: none;
    background-color: var(--black-primary);
    padding: 0.2rem 1.875rem; }
    .header .header__more-information .header__icon-toggle {
      width: 50px;
      height: 60px; }
      .header .header__more-information .header__icon-toggle > span {
        height: 3px;
        width: 2rem;
        background-color: var(--white-secondary);
        margin: 3px 0;
        display: block;
        transition: 0.3s ease-in-out;
        transition-delay: 0.8s; }
      .header .header__more-information .header__icon-toggle--ativo span {
        background-color: var(--white-secondary); }
      .header .header__more-information .header__icon-toggle--ativo span:nth-child(2) {
        transition: 0.3s ease-in-out;
        transition-delay: 0.3s;
        visibility: hidden;
        opacity: 0; }
      .header .header__more-information .header__icon-toggle--ativo span:nth-child(1) {
        transition: 0.3s ease-in-out;
        transition-delay: 0.35s;
        transform: rotate(-45deg) translateY(4.2px) translateX(-4.2px); }
      .header .header__more-information .header__icon-toggle--ativo span:nth-child(3) {
        transition: 0.3s ease-in-out;
        transition-delay: 0.35s;
        transform: rotate(45deg) translateY(-4.2px) translateX(-4.2px); }
    @media (max-width: 1170px) {
      .header .header__more-information {
        display: block; } }
  .header .header__wrapper {
    max-width: 1170px;
    width: 100%;
    padding: 1.875rem;
    margin: 0 auto;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
    justify-items: start;
    align-items: center;
    column-gap: 1rem;
    row-gap: 4.16rem;
    color: var(--black-primary); }
    @media (max-width: 1170px) {
      .header .header__wrapper {
        padding: 1.25rem; } }
    @media (max-width: 1170px) {
      .header .header__wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto;
        justify-content: center;
        align-content: center;
        justify-items: start;
        align-items: center;
        column-gap: 0rem;
        row-gap: 0rem; } }
    .header .header__wrapper .header__contact > h4 {
      font-size: 0.875rem; }
      .header .header__wrapper .header__contact > h4 i {
        margin-right: 0.5rem; }
    .header .header__wrapper .header__logo {
      justify-self: center; }
      .header .header__wrapper .header__logo > a > h1 {
        font-family: 'Cantata One', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-transform: uppercase; }
    .header .header__wrapper .header__store-cart {
      justify-self: right; }
      .header .header__wrapper .header__store-cart > h4 {
        font-size: 0.875rem;
        color: var(--black-fourth); }
        .header .header__wrapper .header__store-cart > h4 i {
          margin-right: 0.5rem; }
        .header .header__wrapper .header__store-cart > h4 .header__store-cart-price {
          font-weight: 700;
          color: var(--black-secondary); }
    .header .header__wrapper .header__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      margin-bottom: 1.875rem;
      grid-column: 1 / 4;
      justify-self: center; }
      @media (max-width: 1170px) {
        .header .header__wrapper .header__list {
          display: none; } }
      .header .header__wrapper .header__list .header__item {
        margin-right: 70px; }
        .header .header__wrapper .header__list .header__item:last-child {
          margin-right: 0; }
        @media (max-width: 1170px) {
          .header .header__wrapper .header__list .header__item:last-child {
            margin-right: 0; } }
        .header .header__wrapper .header__list .header__item .header__link {
          padding: 10px 5px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: clamp(14px, 0.875rem, 0.875rem);
          line-height: clamp(18px, 1.25rem, 1.25rem);
          color: var(--black-primary);
          text-transform: uppercase;
          position: relative; }
          .header .header__wrapper .header__list .header__item .header__link.bold {
            font-weight: 700;
            color: var(--black-secondary); }
          .header .header__wrapper .header__list .header__item .header__link.active {
            color: var(--red-primary); }
          .header .header__wrapper .header__list .header__item .header__link::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 5px;
            width: 10px;
            height: 2px;
            background-color: var(--black-primary);
            transition: 0.4s ease-out; }
          .header .header__wrapper .header__list .header__item .header__link:hover::before, .header .header__wrapper .header__list .header__item .header__link.active::before {
            width: calc(100% - 10px); }
          .header .header__wrapper .header__list .header__item .header__link.active::before {
            background-color: var(--red-primary); }
    .header .header__wrapper .header__overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
      z-index: 10;
      visibility: hidden; }
      .header .header__wrapper .header__overlay--ativo {
        visibility: visible; }
      .header .header__wrapper .header__overlay .header__menu-mobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        background-color: var(--white-third);
        padding: 1.5rem 1.8rem;
        min-width: 250px;
        width: 60vw;
        height: 100%;
        max-width: 340px;
        position: fixed;
        display: none;
        transform: translateX(-60vw);
        visibility: hidden;
        animation: hideMenu 0.6s ease-out forwards; }
        @media (max-width: 1170px) {
          .header .header__wrapper .header__overlay .header__menu-mobile {
            display: block; } }

@keyframes hideMenu {
  0% {
    transform: translateX(0px);
    visibility: visible; }
  100% {
    transform: translateX(-60vw);
    visibility: hidden; } }
        .header .header__wrapper .header__overlay .header__menu-mobile--ativo {
          animation-name: showMenu;
          animation-duration: 0.6s;
          animation-delay: 0.8s;
          animation-timing-function: ease-out;
          animation-fill-mode: forwards; }

@keyframes showMenu {
  0% {
    transform: translateX(-60vw);
    visibility: hidden; }
  100% {
    transform: translateX(0px);
    visibility: visible; } }
        .header .header__wrapper .header__overlay .header__menu-mobile .header__icon-close {
          width: 30px;
          padding: 5px;
          margin-bottom: 2rem;
          cursor: pointer; }
        .header .header__wrapper .header__overlay .header__menu-mobile > .header__item {
          margin-right: 0; }
          .header .header__wrapper .header__overlay .header__menu-mobile > .header__item:last-child {
            margin-right: 0; }
          @media (max-width: 1170px) {
            .header .header__wrapper .header__overlay .header__menu-mobile > .header__item:last-child {
              margin-right: 0; } }
          .header .header__wrapper .header__overlay .header__menu-mobile > .header__item .header__link {
            padding: 10px 5px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: clamp(14px, 0.875rem, 0.875rem);
            line-height: clamp(18px, 1.25rem, 1.25rem);
            color: var(--black-primary);
            text-transform: uppercase;
            position: relative;
            padding: 25px 5px; }
            .header .header__wrapper .header__overlay .header__menu-mobile > .header__item .header__link.bold {
              font-weight: 700;
              color: var(--black-secondary); }
            .header .header__wrapper .header__overlay .header__menu-mobile > .header__item .header__link.active {
              color: var(--red-primary); }
            .header .header__wrapper .header__overlay .header__menu-mobile > .header__item .header__link::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 5px;
              width: 10px;
              height: 2px;
              background-color: var(--black-primary);
              transition: 0.4s ease-out; }
            .header .header__wrapper .header__overlay .header__menu-mobile > .header__item .header__link:hover::before, .header .header__wrapper .header__overlay .header__menu-mobile > .header__item .header__link.active::before {
              width: calc(100% - 10px); }
            .header .header__wrapper .header__overlay .header__menu-mobile > .header__item .header__link.active::before {
              background-color: var(--red-primary); }
        .header .header__wrapper .header__overlay .header__menu-mobile .header__list-social-media {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: nowrap;
          width: calc(100% - 3.750rem);
          position: absolute;
          left: 1.875rem;
          right: 1.875rem;
          bottom: 1.875rem; }
          .header .header__wrapper .header__overlay .header__menu-mobile .header__list-social-media .header__item {
            margin-right: 1.5rem; }
            .header .header__wrapper .header__overlay .header__menu-mobile .header__list-social-media .header__item:last-child {
              margin-right: 0; }
            @media (max-width: 1170px) {
              .header .header__wrapper .header__overlay .header__menu-mobile .header__list-social-media .header__item:last-child {
                margin-right: 0; } }
            .header .header__wrapper .header__overlay .header__menu-mobile .header__list-social-media .header__item .header__link {
              padding: 10px 5px;
              font-family: 'Montserrat', sans-serif;
              font-weight: 400;
              font-size: clamp(14px, 0.875rem, 0.875rem);
              line-height: clamp(18px, 1.25rem, 1.25rem);
              color: var(--black-primary);
              text-transform: uppercase;
              position: relative; }
              .header .header__wrapper .header__overlay .header__menu-mobile .header__list-social-media .header__item .header__link.bold {
                font-weight: 700;
                color: var(--black-secondary); }
              .header .header__wrapper .header__overlay .header__menu-mobile .header__list-social-media .header__item .header__link.active {
                color: var(--red-primary); }

.main {
  width: 100%;
  max-width: 100%; }
  .main .main__show-me {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-15px);
    animation: hideElement 0.6s ease-out forwards; }

@keyframes hideElement {
  0% {
    transform: translateY(0px);
    visibility: visible;
    opacity: 1; }
  100% {
    transform: translateY(-15px);
    visibility: hidden;
    opacity: 0; } }
    .main .main__show-me--ativo {
      animation: show-me 1s ease-out forwards; }

@keyframes show-me {
  0% {
    transform: translateY(-15px);
    visibility: hidden;
    opacity: 0; }
  100% {
    transform: translateY(0);
    visibility: visible;
    opacity: 1; } }

.footer {
  width: 100%;
  max-width: 100%;
  background-color: var(--white-secondary);
  margin-top: 6.25rem; }
  .footer .footer__wrapper {
    max-width: 1170px;
    width: 100%;
    padding: 1.875rem;
    margin: 0 auto;
    padding: 2.18rem 1.875rem 3.18rem; }
    @media (max-width: 1170px) {
      .footer .footer__wrapper {
        padding: 1.25rem; } }
    .footer .footer__wrapper .footer__menu {
      display: grid;
      width: 100%;
      grid-template-columns: auto auto 2fr;
      grid-template-rows: 1fr;
      justify-content: center;
      align-content: center;
      justify-items: start;
      align-items: start;
      column-gap: 10rem;
      row-gap: 0;
      border-bottom: 1px solid var(--white-third);
      padding-bottom: 2.18rem;
      margin-bottom: 2.18rem; }
      @media (max-width: 1170px) {
        .footer .footer__wrapper .footer__menu {
          display: grid;
          width: 100%;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto auto;
          justify-content: center;
          align-content: center;
          justify-items: start;
          align-items: start;
          column-gap: 10rem;
          row-gap: 2rem; } }
      @media (max-width: 850px) {
        .footer .footer__wrapper .footer__menu {
          display: grid;
          width: 100%;
          grid-template-columns: 1fr;
          grid-template-rows: auto auto auto;
          justify-content: center;
          align-content: center;
          justify-items: start;
          align-items: start;
          column-gap: 0;
          row-gap: 2rem; } }
      .footer .footer__wrapper .footer__menu .footer__list-menu .footer__item {
        margin-right: 0; }
        .footer .footer__wrapper .footer__menu .footer__list-menu .footer__item:last-child {
          margin-right: 0; }
        @media (max-width: 1170px) {
          .footer .footer__wrapper .footer__menu .footer__list-menu .footer__item:last-child {
            margin-right: 0; } }
        .footer .footer__wrapper .footer__menu .footer__list-menu .footer__item .footer__link {
          padding: 10px 5px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: clamp(14px, 0.875rem, 0.875rem);
          line-height: clamp(18px, 1.25rem, 1.25rem);
          color: var(--black-primary);
          text-transform: uppercase;
          position: relative;
          font-weight: 600; }
          .footer .footer__wrapper .footer__menu .footer__list-menu .footer__item .footer__link.bold {
            font-weight: 700;
            color: var(--black-secondary); }
          .footer .footer__wrapper .footer__menu .footer__list-menu .footer__item .footer__link.active {
            color: var(--red-primary); }
          .footer .footer__wrapper .footer__menu .footer__list-menu .footer__item .footer__link::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 5px;
            width: 10px;
            height: 2px;
            background-color: var(--black-primary);
            transition: 0.4s ease-out; }
          .footer .footer__wrapper .footer__menu .footer__list-menu .footer__item .footer__link:hover::before, .footer .footer__wrapper .footer__menu .footer__list-menu .footer__item .footer__link.active::before {
            width: calc(100% - 10px); }
          .footer .footer__wrapper .footer__menu .footer__list-menu .footer__item .footer__link.active::before {
            background-color: var(--red-primary); }
      .footer .footer__wrapper .footer__menu .footer__news {
        justify-self: right;
        font-size: 0.875rem;
        line-height: 1.625rem; }
        @media (max-width: 1170px) {
          .footer .footer__wrapper .footer__menu .footer__news {
            width: 100%;
            grid-column: 1 / 3;
            text-align: right; } }
        @media (max-width: 850px) {
          .footer .footer__wrapper .footer__menu .footer__news {
            width: 100%;
            grid-column: initial;
            text-align: right; } }
        .footer .footer__wrapper .footer__menu .footer__news > h4 {
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;
          margin-bottom: 1.625rem;
          text-transform: uppercase; }
        .footer .footer__wrapper .footer__menu .footer__news > input {
          background-color: var(--white-primary);
          border: 1px solid var(--black-third);
          padding: 1rem 1rem;
          width: 100%; }
          .footer .footer__wrapper .footer__menu .footer__news > input::placeholder {
            text-align: right;
            color: var(--blank-primary);
            font-weight: 700;
            text-transform: uppercase; }
    .footer .footer__wrapper .footer__copyright {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap; }
      @media (max-width: 850px) {
        .footer .footer__wrapper .footer__copyright {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-wrap: nowrap; } }
      .footer .footer__wrapper .footer__copyright .footer-copyright-year {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 1.5rem;
        text-transform: uppercase; }
      .footer .footer__wrapper .footer__copyright .footer__list-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap; }
        @media (max-width: 850px) {
          .footer .footer__wrapper .footer__copyright .footer__list-menu {
            margin: 1rem; } }
        .footer .footer__wrapper .footer__copyright .footer__list-menu .footer__item {
          margin-right: 50px; }
          .footer .footer__wrapper .footer__copyright .footer__list-menu .footer__item:last-child {
            margin-right: 0; }
          @media (max-width: 1170px) {
            .footer .footer__wrapper .footer__copyright .footer__list-menu .footer__item:last-child {
              margin-right: 0; } }
          @media (max-width: 850px) {
            .footer .footer__wrapper .footer__copyright .footer__list-menu .footer__item {
              margin: 0; }
              .footer .footer__wrapper .footer__copyright .footer__list-menu .footer__item:nth-of-type(2) {
                order: -1; } }
          .footer .footer__wrapper .footer__copyright .footer__list-menu .footer__item .footer__link {
            padding: 10px 5px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: clamp(14px, 0.875rem, 0.875rem);
            line-height: clamp(18px, 1.25rem, 1.25rem);
            color: var(--black-primary);
            text-transform: uppercase;
            position: relative;
            font-size: 0.75rem;
            line-height: 1.5rem;
            font-weight: 600; }
            .footer .footer__wrapper .footer__copyright .footer__list-menu .footer__item .footer__link.bold {
              font-weight: 700;
              color: var(--black-secondary); }
            .footer .footer__wrapper .footer__copyright .footer__list-menu .footer__item .footer__link.active {
              color: var(--red-primary); }
      .footer .footer__wrapper .footer__copyright .footer__list-social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap; }
        .footer .footer__wrapper .footer__copyright .footer__list-social-media .footer__item {
          margin-right: 1.5rem; }
          .footer .footer__wrapper .footer__copyright .footer__list-social-media .footer__item:last-child {
            margin-right: 0; }
          @media (max-width: 1170px) {
            .footer .footer__wrapper .footer__copyright .footer__list-social-media .footer__item:last-child {
              margin-right: 0; } }
          .footer .footer__wrapper .footer__copyright .footer__list-social-media .footer__item .footer__link {
            font-size: 0.875rem;
            color: var(--black-primary); }

.banner {
  width: 100%;
  max-width: 100%;
  height: auto; }
  .banner .banner__carousel-content {
    position: relative;
    width: 100%;
    height: 100%; }
    .banner .banner__carousel-content .owl-stage-outer {
      height: 100%; }
    .banner .banner__carousel-content .item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap; }
    .banner .banner__carousel-content .banner__image {
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-height: 80vh; }
      @media (max-width: 850px) {
        .banner .banner__carousel-content .banner__image {
          height: 60vh; } }
    .banner .banner__carousel-content .banner__overlay {
      max-width: 1170px;
      width: 100%;
      padding: 1.875rem;
      margin: 0 auto;
      z-index: 10;
      position: absolute;
      left: initial;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: nowrap; }
      @media (max-width: 1170px) {
        .banner .banner__carousel-content .banner__overlay {
          padding: 1.25rem; } }
      .banner .banner__carousel-content .banner__overlay .banner__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 3.75rem;
        line-height: 4.5rem;
        text-transform: uppercase;
        color: var(--black-primary);
        margin-bottom: 1.875rem;
        max-width: 400px; }
      .banner .banner__carousel-content .banner__overlay .banner__paragraph {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1.375rem;
        line-height: 2.25rem;
        color: var(--black-third); }
      .banner .banner__carousel-content .banner__overlay .banner__link {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: var(--white-primary);
        text-transform: uppercase;
        text-align: center;
        background-color: var(--black-primary);
        padding: 1.31rem 3.75rem;
        box-shadow: inset 0 0 0 5px var(--black-primary), inset 0 0 0 6px var(--white-primary);
        transition: box-shadow 0.3s linear;
        margin-top: 5.95rem; }
        .banner .banner__carousel-content .banner__overlay .banner__link:hover {
          box-shadow: inset 0 0 0 1px var(--white-primary); }

.main__tendencies {
  max-width: 1170px;
  width: 100%;
  padding: 1.875rem;
  margin: 0 auto;
  margin-top: 3.875rem; }
  @media (max-width: 1170px) {
    .main__tendencies {
      padding: 1.25rem; } }
  .main__tendencies .main__tendencies-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-primary);
    margin-bottom: 2.675rem; }
  .main__tendencies .main__tendencies-content {
    display: grid;
    width: 100%;
    grid-template-columns: 540px 540px;
    grid-template-rows: 345px 345px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    column-gap: 1.875rem;
    row-gap: 1.875rem; }
    @media (max-width: 1170px) {
      .main__tendencies .main__tendencies-content {
        display: grid;
        width: 100%;
        grid-template-columns: 400px 400px;
        grid-template-rows: 245px 245px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        column-gap: 1.875rem;
        row-gap: 1.875rem; } }
    @media (max-width: 850px) {
      .main__tendencies .main__tendencies-content {
        display: grid;
        width: 100%;
        grid-template-columns: 540px;
        grid-template-rows: 345px 345px 345px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        column-gap: 1.875rem;
        row-gap: 1.875rem; } }
    @media (max-width: 600px) {
      .main__tendencies .main__tendencies-content {
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 345px 345px 345px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        column-gap: 1.875rem;
        row-gap: 1.875rem; } }
    .main__tendencies .main__tendencies-content .main__tendencies-categories {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat; }
      .main__tendencies .main__tendencies-content .main__tendencies-categories .wrapper {
        padding: 3.125rem 1rem 1rem 3.125rem; }
        .main__tendencies .main__tendencies-content .main__tendencies-categories .wrapper .main__tendencies-category {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 0.875rem;
          line-height: 1rem;
          text-transform: uppercase;
          color: var(--black-primary);
          margin-bottom: 0.8rem; }
        .main__tendencies .main__tendencies-content .main__tendencies-categories .wrapper .main__tendencies-link {
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;
          font-size: 0.875rem;
          line-height: 1rem;
          color: var(--black-third); }
          .main__tendencies .main__tendencies-content .main__tendencies-categories .wrapper .main__tendencies-link:hover {
            filter: brightness(80%); }
    .main__tendencies .main__tendencies-content .men-dresses {
      background-image: url(https://cdn.shopify.com/s/files/1/0552/2318/9663/t/4/assets/tendencies-1.jpg?v=1620176840); }
    .main__tendencies .main__tendencies-content .women-dresses {
      height: 100%;
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      background-image: url(https://cdn.shopify.com/s/files/1/0552/2318/9663/t/4/assets/tendencies-2.jpg?v=1620176871); }
      @media (max-width: 850px) {
        .main__tendencies .main__tendencies-content .women-dresses {
          grid-column: initial;
          grid-row: initial; } }
    .main__tendencies .main__tendencies-content .jewellery {
      background-image: url(https://cdn.shopify.com/s/files/1/0552/2318/9663/t/4/assets/tendencies-3.jpg?v=1620176881); }

.main__product-list {
  max-width: 1170px;
  width: 100%;
  padding: 1.875rem;
  margin: 0 auto;
  margin-top: 5.5rem; }
  @media (max-width: 1170px) {
    .main__product-list {
      padding: 1.25rem; } }
  .main__product-list .main__product-list-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-primary);
    margin-bottom: 2.675rem; }
  .main__product-list .main__product-list-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 255px);
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    column-gap: 1.875rem;
    row-gap: 4.375rem; }
    @media (max-width: 1170px) {
      .main__product-list .main__product-list-grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 180px);
        grid-template-rows: 1fr;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        column-gap: 1.875rem;
        row-gap: 1.875rem; } }
    @media (max-width: 850px) {
      .main__product-list .main__product-list-grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 180px);
        grid-template-rows: 1fr;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        column-gap: 1.875rem;
        row-gap: 1.875rem; } }
    @media (max-width: 600px) {
      .main__product-list .main__product-list-grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 180px);
        grid-template-rows: 1fr;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        column-gap: 1.875rem;
        row-gap: 1.875rem; } }
    @media (max-width: 420px) {
      .main__product-list .main__product-list-grid {
        display: grid;
        width: 100%;
        grid-template-columns: 250px;
        grid-template-rows: 1fr;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        column-gap: 1.875rem;
        row-gap: 1.875rem; } }
    .main__product-list .main__product-list-grid .main__product {
      box-shadow: 0 2px 7px 1px var(--shadow-black);
      transition: transform 0.3s linear;
      position: relative; }
      .main__product-list .main__product-list-grid .main__product:hover {
        transform: scale(1.03); }
      .main__product-list .main__product-list-grid .main__product .main__product-image {
        width: 100%;
        max-width: 255px;
        min-width: 255px;
        max-height: 320px;
        min-height: 320px;
        object-fit: cover; }
        @media (max-width: 1170px) {
          .main__product-list .main__product-list-grid .main__product .main__product-image {
            min-width: 180px;
            min-height: 240px; } }
        @media (max-width: 420px) {
          .main__product-list .main__product-list-grid .main__product .main__product-image {
            min-width: 250px; } }
      .main__product-list .main__product-list-grid .main__product .main__product-name {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: var(--black-third);
        margin: 0.5rem 1.2rem 1rem 1.2rem;
        width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        .main__product-list .main__product-list-grid .main__product .main__product-name:hover {
          filter: brightness(80%); }
        @media (max-width: 1170px) {
          .main__product-list .main__product-list-grid .main__product .main__product-name {
            width: 150px; } }
        @media (max-width: 420px) {
          .main__product-list .main__product-list-grid .main__product .main__product-name {
            min-width: 200px; } }
      .main__product-list .main__product-list-grid .main__product .main-product-price {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.2rem;
        text-transform: uppercase;
        color: var(--black-primary);
        margin: 0 0 1rem 1.2rem; }
      .main__product-list .main__product-list-grid .main__product .main-product-icon {
        position: absolute;
        bottom: 0.7rem;
        right: 0.5rem;
        padding: 5px;
        z-index: 10;
        cursor: pointer; }
      .main__product-list .main__product-list-grid .main__product .fas.fa-heart {
        display: none; }
      .main__product-list .main__product-list-grid .main__product .far.fa-heart {
        display: block; }
      .main__product-list .main__product-list-grid .main__product.item-bag .fas.fa-heart {
        display: block; }
      .main__product-list .main__product-list-grid .main__product.item-bag .far.fa-heart {
        display: none; }
  .main__product-list .main__product-list-link {
    text-align: center; }
    .main__product-list .main__product-list-link > a {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: var(--white-primary);
      text-transform: uppercase;
      text-align: center;
      background-color: var(--black-primary);
      padding: 1.31rem 3.75rem;
      box-shadow: inset 0 0 0 5px var(--black-primary), inset 0 0 0 6px var(--white-primary);
      transition: box-shadow 0.3s linear;
      margin: 4.375rem auto 0; }
      .main__product-list .main__product-list-link > a:hover {
        box-shadow: inset 0 0 0 1px var(--white-primary); }
  .main__product-list .main__gender-choice .main__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1.5rem; }
    .main__product-list .main__gender-choice .main__list .main__link {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 0.875rem;
      line-height: 1rem;
      text-transform: uppercase;
      color: var(--black-fourth);
      padding: 0.7rem; }
      .main__product-list .main__gender-choice .main__list .main__link--ativo {
        border: 1px solid var(--black-primary);
        color: var(--black-primary) s; }
  .main__product-list .main__list-config {
    margin: 2.625rem 0 2.18rem; }
    .main__product-list .main__list-config .main__list {
      display: grid;
      width: 100%;
      grid-template-columns: auto auto 1fr;
      grid-template-rows: 1fr;
      justify-content: center;
      align-content: center;
      justify-items: start;
      align-items: center;
      column-gap: 2rem;
      row-gap: 1rem; }
      @media (max-width: 600px) {
        .main__product-list .main__list-config .main__list {
          display: grid;
          width: 100%;
          grid-template-columns: auto;
          grid-template-rows: 1fr;
          justify-content: center;
          align-content: center;
          justify-items: center;
          align-items: center;
          column-gap: 1rem;
          row-gap: 1rem; } }
      .main__product-list .main__list-config .main__list .main__item {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.2rem;
        text-transform: uppercase;
        color: var(--black-fourth); }
        .main__product-list .main__list-config .main__list .main__item label {
          margin-right: 0.5rem; }
        .main__product-list .main__list-config .main__list .main__item select {
          font-size: 0.875rem;
          line-height: 1.2rem;
          border: 1px solid var(--black-primary);
          padding: 0.5rem; }
      .main__product-list .main__list-config .main__list .main__item-view {
        justify-self: end;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.2rem;
        text-transform: uppercase;
        color: var(--black-fourth); }
        @media (max-width: 600px) {
          .main__product-list .main__list-config .main__list .main__item-view {
            justify-self: center; } }
        .main__product-list .main__list-config .main__list .main__item-view i {
          font-size: 1.2rem;
          line-height: 1.2rem;
          margin-left: 0.6rem;
          cursor: pointer; }
          .main__product-list .main__list-config .main__list .main__item-view i.ativo {
            color: var(--black-primary); }

.breadcrumbs-extend {
  width: 100%;
  max-width: 100%;
  background-color: var(--black-primary);
  height: 300px; }

.breadcrumbs-reduced {
  width: 100%;
  max-width: 100%;
  background-color: var(--black-primary);
  height: 140px; }

.breadcrumbs__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%; }
  .breadcrumbs__content .breadcrumbs__title-page {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 3rem;
    text-transform: uppercase;
    color: var(--white-primary);
    margin-bottom: 1.375rem;
    max-width: 400px; }
  .breadcrumbs__content .breadcrumbs__paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.875rem;
    color: var(--white-primary); }

.main__product-information {
  max-width: 1170px;
  width: 100%;
  padding: 1.875rem;
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-columns: 580px 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: start;
  column-gap: 5.31rem;
  row-gap: 0rem;
  margin-top: 3.125rem; }
  @media (max-width: 1170px) {
    .main__product-information {
      padding: 1.25rem; } }
  @media (max-width: 1170px) {
    .main__product-information {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      justify-content: center;
      align-content: center;
      justify-items: center;
      align-items: center;
      column-gap: 0rem;
      row-gap: 3rem; } }
  .main__product-information .main__media {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 130px);
    grid-template-rows: 600px 100px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: start;
    column-gap: 1.25rem;
    row-gap: 1.25rem; }
    @media (max-width: 600px) {
      .main__product-information .main__media {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 130px);
        grid-template-rows: 600px 100px 100px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        column-gap: 1.25rem;
        row-gap: 1.25rem; } }
    @media (max-width: 420px) {
      .main__product-information .main__media {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: 600px 100px 100px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        column-gap: 1.25rem;
        row-gap: 1.25rem; } }
    .main__product-information .main__media .main__media-image {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .main__product-information .main__media .main__media-image-main {
      grid-column: 1 / 5; }
      @media (max-width: 600px) {
        .main__product-information .main__media .main__media-image-main {
          grid-column: 1 / 4; } }
      @media (max-width: 420px) {
        .main__product-information .main__media .main__media-image-main {
          grid-column: 1 / 3; } }
  .main__product-information .main__information .main__product-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--black-third);
    font-size: 1.875rem;
    line-height: 1.875rem;
    letter-spacing: 1px;
    margin-bottom: 1.56rem; }
  .main__product-information .main__information .main__product-price {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--black-primary);
    font-size: 1.875rem;
    line-height: 1.875rem;
    margin-bottom: 2.5rem; }
  .main__product-information .main__information .main__product-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--black-third);
    font-size: 0.875rem;
    line-height: 1.5rem;
    padding-bottom: 2.18rem;
    border-bottom: 1px solid var(--white-third); }
  .main__product-information .main__information .main__product-colors {
    margin-top: 2.81rem; }
    .main__product-information .main__information .main__product-colors h4 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1rem;
      text-transform: uppercase;
      color: var(--black-primary);
      margin-bottom: 0.8rem; }
      .main__product-information .main__information .main__product-colors h4 sup {
        font-size: 1rem;
        color: var(--red-primary); }
    .main__product-information .main__information .main__product-colors .main__product-colors-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap; }
      .main__product-information .main__information .main__product-colors .main__product-colors-list .main__list {
        margin: 0 5px;
        width: 20px;
        height: 20px; }
        .main__product-information .main__information .main__product-colors .main__product-colors-list .main__list input {
          width: 20px;
          height: 20px;
          appearance: none;
          cursor: pointer; }
          .main__product-information .main__information .main__product-colors .main__product-colors-list .main__list input:checked ~ span {
            box-shadow: 0 0 0 2px var(--white-primary), 0 0 0 3px var(--black-fourth); }
          .main__product-information .main__information .main__product-colors .main__product-colors-list .main__list input[data-color="Preto"] ~ span {
            background-color: #333333; }
          .main__product-information .main__information .main__product-colors .main__product-colors-list .main__list input[data-color="Branco"] ~ span {
            background-color: #EFEFEF; }
          .main__product-information .main__information .main__product-colors .main__product-colors-list .main__list input[data-color="azul"] ~ span {
            background-color: #0069CB; }
          .main__product-information .main__information .main__product-colors .main__product-colors-list .main__list input[data-color="vermelho"] ~ span {
            background-color: #FF6565; }
          .main__product-information .main__information .main__product-colors .main__product-colors-list .main__list input[data-color="roxo"] ~ span {
            background-color: #7854FF; }
          .main__product-information .main__information .main__product-colors .main__product-colors-list .main__list input[data-color="verde"] ~ span {
            background-color: #00CD65; }
        .main__product-information .main__information .main__product-colors .main__product-colors-list .main__list span {
          position: relative;
          top: -26px;
          display: block;
          width: 100%;
          height: 100%;
          z-index: -1; }
  .main__product-information .main__information .main__product-size {
    margin-top: 1.5rem; }
    .main__product-information .main__information .main__product-size h4 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1rem;
      text-transform: uppercase;
      color: var(--black-primary);
      margin-bottom: 0.8rem; }
    .main__product-information .main__information .main__product-size .main__product-size-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap; }
      .main__product-information .main__information .main__product-size .main__product-size-list .main__list {
        margin: 0 5px;
        height: 32px; }
        .main__product-information .main__information .main__product-size .main__product-size-list .main__list input {
          width: 100%;
          height: 100%;
          appearance: none;
          cursor: pointer; }
          .main__product-information .main__information .main__product-size .main__product-size-list .main__list input:checked ~ span {
            color: var(--white-primary);
            background-color: var(--black-primary);
            box-shadow: 0 0 0 2px var(--white-primary), 0 0 0 3px var(--black-fourth); }
        .main__product-information .main__information .main__product-size .main__product-size-list .main__list span {
          position: relative;
          top: -38px;
          display: block;
          width: 100%;
          height: 100%;
          min-width: 32px;
          padding: 5px;
          z-index: -1;
          font-family: 'Montserrat', sans-serif;
          font-weight: bold;
          color: var(--black-primary);
          background-color: var(--white-fourth);
          text-align: center;
          line-height: 22px; }
  .main__product-information .main__information .main__buy-product {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin: 3.125rem 0; }
    .main__product-information .main__information .main__buy-product .main__quantity-products {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-grow: 1;
      max-width: 170px;
      height: 4.06rem;
      border: 1px solid var(--white-third);
      margin-right: 1.875rem; }
      .main__product-information .main__information .main__buy-product .main__quantity-products button {
        width: 40px;
        height: 4.06rem;
        cursor: pointer; }
      .main__product-information .main__information .main__buy-product .main__quantity-products .main__current-quantity {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        line-height: 3.75rem;
        color: var(--black-primary);
        text-align: center;
        display: inline-block;
        width: 100%;
        height: 100%;
        max-width: 90px; }
        .main__product-information .main__information .main__buy-product .main__quantity-products .main__current-quantity::-webkit-outer-spin-button, .main__product-information .main__information .main__buy-product .main__quantity-products .main__current-quantity::-webkit-inner-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0;
          /* <-- Apparently some margin are still there even though it's hidden */ }
        .main__product-information .main__information .main__buy-product .main__quantity-products .main__current-quantity[type=number] {
          -moz-appearance: textfield; }
    .main__product-information .main__information .main__buy-product .main__buy {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: var(--white-primary);
      text-transform: uppercase;
      text-align: center;
      background-color: var(--black-primary);
      padding: 1.31rem 3.75rem;
      box-shadow: inset 0 0 0 5px var(--black-primary), inset 0 0 0 6px var(--white-primary);
      transition: box-shadow 0.3s linear; }
      .main__product-information .main__information .main__buy-product .main__buy:hover {
        box-shadow: inset 0 0 0 1px var(--white-primary); }
  .main__product-information .main__information .main__accordion .main__accordion-item {
    border-top: 1px solid var(--white-third);
    border-bottom: 1px solid var(--white-third);
    height: 60px;
    overflow-y: hidden;
    transition: all 0.5s ease-out; }
    .main__product-information .main__information .main__accordion .main__accordion-item .main__title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 60px;
      color: var(--black-primary);
      text-transform: uppercase;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap; }
      .main__product-information .main__information .main__accordion .main__accordion-item .main__title i {
        font-size: 1.2rem;
        line-height: 55px;
        font-weight: bold;
        align-self: flex-start; }
      .main__product-information .main__information .main__accordion .main__accordion-item .main__title i.bx-plus {
        display: block; }
      .main__product-information .main__information .main__accordion .main__accordion-item .main__title i.bx-minus {
        display: none; }
      .main__product-information .main__information .main__accordion .main__accordion-item .main__title--active i.bx-plus {
        display: none; }
      .main__product-information .main__information .main__accordion .main__accordion-item .main__title--active i.bx-minus {
        display: block; }
    .main__product-information .main__information .main__accordion .main__accordion-item .main__paragraph {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.5rem;
      padding-bottom: 1.5rem;
      color: var(--black-third); }

.main__pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 6.25rem 0 0; }
  .main__pagination .main__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 34px;
    height: 34px;
    margin: 0 0.5rem;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.93rem;
    line-height: 1.125rem;
    color: var(--black-third); }
    .main__pagination .main__button--ativo {
      color: var(--white-primary);
      background-color: var(--black-primary); }
    .main__pagination .main__button--next {
      border: 1px solid var(--black-third); }
