// ---------------------
// ----- LAYOUT ----- //
// ---------------------
@mixin container($bg-color: false) {
    width: 100%;
    max-width: 100%;
    
    @if $bg-color {
        background-color: $bg-color;
    }
}

@mixin wrapper($isAuto: true) {
    max-width: $width-header-footer-max;   
    width: 100%;
    padding: 1.875rem;
    @if $isAuto {
        margin: 0 auto;
    }
    @media (max-width: $break-point-tablet-portrait) {
        padding: 1.25rem;
    }
}

@mixin flex($justifyContent: center, $alignItems: center, $flexDirection: row, $flexWrap: nowrap) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-wrap: $flexWrap;
}

@mixin grid(
    $gridTemplateColumn: 1fr,
    $gridTemplateRows: 1fr,
    $column-gap: 1rem,
    $row-gap: 1rem,
    $width: 100%,
    $justifyContent: center,
    $alignContent: center,
    $justifyItems: center,
    $alignItems: center,
) {
    display: grid;
    width: $width;
    grid-template-columns: $gridTemplateColumn;
    grid-template-rows: $gridTemplateRows;
    justify-content: $justifyContent;
    align-content: $alignContent;
    justify-items: $justifyItems;
    align-items: $alignItems;
    column-gap: $column-gap;
    row-gap: $row-gap;
}

// -------------------------
// ----- TIPOGRAFIA ----- //
// -------------------------
@mixin fontRoboto($weight: 400, $isItalic: false) {
    font-family: 'Roboto', sans-serif;
    font-weight: $weight;

    @if $isItalic {
        font-style: italic;
    }
}

@mixin fontMontserrat($weight: 400, $isItalic: false) {
    font-family: 'Montserrat', sans-serif;
    font-weight: $weight;

    @if $isItalic {
        font-style: italic;
    }
}

@mixin fontCantataOne($weight: 400, $isItalic: false) {
    font-family: 'Cantata One', sans-serif;
    font-weight: $weight;

    @if $isItalic {
        font-style: italic;
    }
}

// --------------------
// --- MENU ICON --- //
// --------------------
@mixin menuToggle {
    width: 50px;
    height: 60px;
    
    & > span {
        height: 3px;
        width: 2rem;
        background-color: var(--white-secondary);
        margin: 3px 0;
        display: block;
        transition: 0.3s ease-in-out;
        transition-delay: 0.8s;
    }

    &--ativo span {
        background-color: var(--white-secondary);
    }

    &--ativo span:nth-child(2) {
        transition: 0.3s ease-in-out;
        transition-delay: 0.3s;
        visibility: hidden;
        opacity: 0;
    }

    &--ativo span:nth-child(1) {
        transition: 0.3s ease-in-out;
        transition-delay: 0.35s;
        transform: rotate(-45deg) translateY(4.2px) translateX(-4.2px);
    }

    &--ativo span:nth-child(3) {
        transition: 0.3s ease-in-out;
        transition-delay: 0.35s;
        transform: rotate(45deg) translateY(-4.2px) translateX(-4.2px);
    }
}

// -------------------------
// ----- OVERLAY ----- //
// -------------------------
@mixin overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 10;
    visibility: hidden;
    
    &--ativo {
        visibility: visible;
    }
}

// --------------------
// ----- MENU ----- //
// --------------------
@mixin menuMobile {
    background-color: var(--white-third);
    padding: 1.5rem 1.8rem;
    min-width: 250px;
    width: 60vw;
    height: 100%;
    max-width: 340px;
    position: fixed;
    display: none;

    @media (max-width: $break-point-tablet-portrait) {
        display: block;
    }

    transform: translateX(-60vw);
    visibility: hidden;
    animation: hideMenu 0.6s ease-out forwards;
    
    @keyframes hideMenu {
        0% {
            transform: translateX(0px);
            visibility: visible;
        }
        100% {
            transform: translateX(-60vw);
            visibility: hidden;
        }
    }

    &--ativo {
        animation-name: showMenu;
        animation-duration: 0.6s;
        animation-delay: 0.8s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;

        @keyframes showMenu {
            0% {
                transform: translateX(-60vw);
                visibility: hidden;
            }
            100% {
                transform: translateX(0px);
                visibility: visible;
            }
        }
    }
}

@mixin menuItem($margin-itens: 70px) {
    margin-right: $margin-itens;

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: $break-point-tablet-portrait) {
        &:last-child {
            margin-right: 0;
        }
    }
}

@mixin menuLink($color: var(--black-primary), $isTextBold: false, $isDecoration: true) {
    padding: 10px 5px;
    @include fontMontserrat;
    font-size: clamp(14px, 0.875rem, 0.875rem);
    line-height: clamp(18px, 1.25rem, 1.25rem);
    color: $color;
    text-transform: uppercase;
    position: relative;

    &.bold {
        font-weight: 700;
        color: var(--black-secondary);
    }

    &.active {
        color: var(--red-primary);
    }

    @if $isTextBold {
        font-weight: $isTextBold;
    }

    @if $isDecoration {

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 5px;
            width: 10px;
            height: 2px;
            background-color: $color;
            transition: 0.4s ease-out;
        }
        
        &:hover::before,
        &.active::before {
            width: calc(100% - 10px);
        }

        &.active::before {
            background-color: var(--red-primary);
        }
    }
}

// --------------------
// ----- BUTTON ----- //
// --------------------
@mixin buttonDefault {
    @include fontMontserrat($weight: 700);
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--white-primary);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--black-primary);
    padding: 1.31rem 3.75rem;
    box-shadow: inset 0 0 0 5px var(--black-primary),
                inset 0 0 0 6px var(--white-primary);


    transition: box-shadow 0.3s linear;
    &:hover {
        box-shadow: inset 0 0 0 1px var(--white-primary);
    }
}