
.cart-drawer {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    background-color: #ffffff;
    z-index: 10000;
    transition: transform 0.5s ease-out, visibility 0.5s ease-out;
    
    &[data-cart-open="false"] {
        box-shadow: none;
        visibility: hidden;
        pointer-events: none;
        transform: translateX(100%);
    }

    &[data-cart-open="true"] {
        box-shadow: 0 2px 7px 1px var(--shadow-black);
        visibility: visible;
        pointer-events: all;
        transform: translateX(0);
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 2rem;

        h6 {
            font-size: 1.5rem;
            font-family: Montserrat, sans-serif;
            font-weight: 400;
            font-style: normal;
            color: #323232;
            text-transform: uppercase;
            margin-bottom: 0;

            -webkit-transition: color .2s ease-in-out;
            transition: color .2s ease-in-out;
        }

        button {
            width: 18px;
        }
    }

    &__content {
        width: 100%;
        overflow-y: scroll;
        height: calc(100vh - (92px + 121px));

        .cart-drawer__item {
            overflow: hidden;
            max-height: 180px;
            padding: 0 2rem;
            margin: 2rem 0;
            
            &.remove-item {
                transition: height .5s ease-out, max-height .5s ease-out, margin 5s ease-out; // 0.35
                transition-delay: 0, 0, 0;
                transition-property: height, max-height, margin;
                margin: 0;
                max-height: 0;
            }
            
            & > div {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                figure {
                    flex: 0 0 90px;
                    margin-right: 1.2rem;
    
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
    
                .cart-drawer__item-info {
                    width: 100%;
                    
                    h4 {
                        font-size: 0.875rem;
                        font-family: Montserrat, sans-serif;
                        font-weight: bold;
                        color: #323232;
                        width: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: initial;
                        margin-bottom: 0.5rem;
                    }
    
                    span {
                        font-size: 0.875rem;
                        font-family: Montserrat, sans-serif;
                        font-weight: 400;
                        color: #323232;
                    }

                    .cart-drawer-quantity {
                        margin-top: 1rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .cart-drawer-quantity-selector {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-grow: 1;
                            max-width: 90px;
                            height: 2.70rem;
                            border: 1px solid var(--shadow-black);
                            margin-right: 0.6rem;

                            button {
                                width: 25px;
                                height: 2.70rem;
                                cursor: pointer;
                                line-height: 0;
        
                                i {
                                    pointer-events: none;
                                }
                            }

                            .main__current-quantity {
                                font-size: 1rem;
                                font-weight: 600;
                                line-height: 3.75rem;
                                color: var(--black-primary);
                                text-align: center;

                                display: inline-block;
                                width: 100%;
                                height: 100%;
                                max-width: 35px;
                                padding: 0;

                                &::-webkit-outer-spin-button,
                                &::-webkit-inner-spin-button {
                                    /* display: none; <- Crashes Chrome on hover */
                                    -webkit-appearance: none;
                                    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
                                }

                                &[type=number] {
                                    -moz-appearance:textfield;
                                }
                            }
                        }

                        a {
                            font-size: 0.765rem;
                            font-family: Montserrat, sans-serif;
                            font-weight: 400;
                            color: #323232;
                            text-transform: uppercase;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
    
                }
    
                .cart-bg-remove {
                    transition: height .5s ease-out;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0px;
                    background-color: var(--white-primary);
                }
            }

            &.remove-item .cart-bg-remove {
                height: 100%;
                z-index: 5;
            }
        }
    }

    &__footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        border-top: 1px solid var(--shadow-black);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 3rem;

        button {
            font-family: Montserrat, sans-serif;
            font-weight: 700;
            font-size: .875rem;
            line-height: 1.5rem;
            color: var(--white-primary);
            text-transform: uppercase;
            text-align: center;
            background-color: var(--black-primary);
            width: 100%;
            padding: 1rem 1rem;
            box-shadow: inset 0 0 0 5px var(--black-primary),
                        inset 0 0 0 6px var(--white-primary);

            transition: box-shadow .3s linear;

            &:hover {
                box-shadow: inset 0 0 0 1px var(--white-primary);
            }
        }
    }
}

.cart-drawer__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    transition: opacity 0.5s ease-out;

    &[data-cart-open="false"] {
        visibility: hidden;
        opacity: 0;
        z-index: -1;
    }

    &[data-cart-open="true"] {
        visibility: visible;
        opacity: 1;
        z-index: 8000;
    }
}