{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% include "breadcrumbs" %}
{% section 'product-template' %}

{{ 'accordion.js' | asset_url | script_tag }}
{{ 'quantify.js' | asset_url | script_tag }}

<!-- {% section 'product-recommendations' %} -->